{% macro header(title, subtitle) -%}
  <header class="page-header">
    <div class="page-header__content">
      <h1 class="text--heading--1">{{ title }}</h1>
      {% if subtitle %}<span class="text--subheadline text--tinted--secondary">{{ subtitle }}</span>{% endif %}
    </div>
  </header>
{%- endmacro %}

{% macro smallHeader(title, subtitle) -%}
  <header class="page-header page-header--sm">
    <div class="page-header__content">
      <h1 class="text--heading--3">{{ title }}</h1>
      {% if subtitle %}<span class="text--subheadline text--tinted--secondary">{{ subtitle }}</span>{% endif %}
    </div>
  </header>
{%- endmacro %}
