{% macro invitationContext(invitation) %}
  {% set isAttending = 'unknown' %}
  
  {% for notAttending in rsvpForms %}
    {% if notAttending.data.code == invitation.code %}
      {% set isAttending = 'no' %}
    {% endif %}
  {% endfor %}
  
  {% set invitationData = {
    name: invitation.name,
    code: invitation.code,
    attending: isAttending
  } %}
  
  HELLO WIL
  <script> const invitationData = {{ invitationData | dump | safe }} </script>
{% endmacro %}