{% macro rsvpActions(invitationData) -%}
  {% set labelNo -%}
    {% if invitationData.attending == 'yes' %}
      {{ strings.RSVPButtonNoCorrection }}
    {% else %}
      {{ strings.RSVPButtonNo }}
    {% endif %}
  {%- endset %}
  {% set labelYes -%}
    {% if invitationData.attending == 'no' %}
      {{ strings.RSVPButtonYesCorrection }}
    {% else %}
      {{ strings.RSVPButtonYes }}
    {% endif %}
  {%- endset %}
  <script> 
    const invitationData = {{ invitationData | dump | safe }};
    const attendingLocal = localStorage.getItem('attending');
    const strings = {{ strings | dump | safe }};
    window.addEventListener('DOMContentLoaded', function() {
      const noButton = document.getElementById('rsvp-action--no');
      const yesButton = document.getElementById('rsvp-action--yes')
      // if they've pressed the "no" button but the site hasn't rebuilt
      if ((attendingLocal == 'no') && (invitationData.attending == 'unknown')) {
        console.log('Doing this locally...');
        noButton.classList.add('navigation__rsvp__action--submitted');
        yesButton.getElementsByClassName('navigation__rsvp__action__label')[0].innerHTML = strings.RSVPButtonYesCorrection;
      }
      if (invitationData.attending == 'no') {
          console.log('got this from the server');
      }
    });
  </script>
  <ul class="navigation__rsvp-actions">
    <li id="rsvp-action--no" class="navigation__rsvp__action{% if invitationData.attending == 'no' %} navigation__rsvp__action--submitted{% endif %}">
      <form
        name="Not-Attending"
        id="rsvp-no"
        action="{{ page.url }}rsvp-no/"
        method="POST"
        netlify>
        <input name="name" type="text" value="{{ invitationData.name }}" hidden />
        <input name="code" type="text" value="{{ invitationData.code }}" hidden />
        <button 
          type="submit" 
          onClick="saveAttendingLocal()"
          class="navigation__rsvp__action__label">
          {{ labelNo }}
        </button>
      </form>
    </li>
    <li id="rsvp-action--yes" class="navigation__rsvp__action">
      <a href="{{ baseURL }}rsvp-party/" class="navigation__rsvp__action__label">{{ labelYes }}</a>
    </li>
  </ul>
  <script> 
    // set attending value locally for the gap between site rebuild
    function saveAttendingLocal() {
      localStorage.setItem('attending', 'no');  
      const form = document.getElementById('rsvp-no');
      const data = new FormData(form);
      for (var [key, value] of data) {
          console.log(key, value);
      };
    }
  </script>
{%- endmacro %}

{% macro submitRSVPParty(invitationData) -%}
  <div class="navigation-container">
    <nav class="navigation">
      <button 
        type="submit"
        onClick="savePartyLocal()"
        class="button--primary">
        <span class="button--primary__label">{{ strings.continue }}</span>
      </button>
    </nav>
  </div>
  <script>
  function savePartyLocal() {
    const form = document.getElementById('{{ meta.rsvpForm1 }}');
    const data = new FormData(form);
    for (var [key, value] of data) {
        console.log(key, value);
    }
  };
  </script>
{%- endmacro %}

{% macro submitRSVPDetails(invitationData) -%}
  <div class="navigation-container">
    <nav class="navigation">
      <button 
        type="submit"
        onClick="saveRSVPDetails()"
        class="button--primary">
        <span class="button--primary__label">{{ strings.submit }}</span>
      </button>
    </nav>
  </div>
{%- endmacro %}

{% macro navigationLinks(code) -%}
  <ul class="navigation__items">
    {% set baseURL %}/invitations/{{ code }}/{% endset %}
    <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if (not '/party/' in page.url) and (not '/info/' in page.url) and (not '/info/' in page.url) and (not '/registry/' in page.url) }}" 
    href="{{ baseURL }}">
      <span>{{ strings.navHome }}</span>
    </a></li>
    {# <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if '/party/' in page.url }}" href="{{ page.url }}party/"><span>Party</span></a></li> #}
    <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if '/info/' in page.url }}" 
    href="{{ baseURL }}info/">
      <span>{{ strings.navQA }}</span>
    </a></li>
    {# <li class="navigation__item"><a class="navigation__link{{ ' navigation__link--current' if '/registry/' in page.url }}" href="{{ page.url }}registry/"><span>Registry</span></a></li> #}
  </ul>
{%- endmacro %}

{% macro navigation(invitationData) -%}
  {% set code %}{{ invitationData.code }}{% endset %}
  <div class="navigation-container">
    <nav class="navigation">
      {% if isFormSubmissionPage -%}
          <a class="button--secondary" href="/invitations/{{ code }}/"><span class="button--secondary__label">Return to your invitation</span></a>
        {% else %}
          {{ navigationLinks(code) }}
          {{ rsvpActions(invitationData) }}
      {%- endif %}
    </nav>
  </div>
{%- endmacro %}
