{# <p>page number: {{ invitations[pagination.pageNumber] | dump}}</p>
<p>code: {{ invitations[pagination.pageNumber].code }}</p>
<p>{{ invitationData | dump }}</p>
<p>URL: {{ page.url | dump }}</p> #}