{% macro rsvpForm(i, party) -%}
  {% set attendee = party[i] %}
  {% if i == 0 %}
    {% set title = rsvpParty.yourFormTitle %}
    {% set namePlaceholder = rsvpParty.yourNamePlaceholder %}
    {% set attendeeName = party[i].name %}
    {% set attendingBool = 'checked' %}
  {% else %}
    {% if i == 1 %}
      {% set title = rsvpParty.othersFormsTitle %}
    {% endif %}
    {% if attendee.placeholder %}
      {% set namePlaceholder = attendee.placeholder %}
    {% else %}
      {% set namePlaceholder = rsvpParty.guestPlaceholder %}
    {% endif %}
  {% endif %}
  <fieldset class="rsvp-form-item__container" name="attendee-{{ i }}" form="{{ meta.partyForm }}" >
    {% if i <= 1 %}<legend class="rsvp-form-item__title">{{ title }}</legend>{% endif %}
    <div class="rsvp-form-item__fields">
      <input 
        name="{{ i }}--correctedName"
        form="{{ meta.partyForm }}"
        type="text" 
        class="ui-textinput rsvp-form-item__name"
        placeholder="{{ namePlaceholder }}"
        
        {% if attendee.name %}value="{{ attendee.name }}"{% endif %}
        />
        {% set attendingBoolId %}{{ i }}--attending{% endset %}
      <label for="{{ attendingBoolId }}" class="rsvp-form-item__is-attending rsvp-form-item--bool">
        <input 
          name="{{ attendingBoolId }}"
          form="{{ meta.partyForm }}"
          id="{{ attendingBoolId }}"
          type="checkbox" 
          value="isAttending"
          class="isAttending"
          onClick="setDefaultMeal()"
          {{ attendingBool }}
          />
        {{ rsvpParty.attendingBool }}
      </label>
      <fieldset class="rsvp-form__meal-choices__container" name="{{ i }}--meal" form="{{ meta.partyForm }}">
        <legend class="rsvp-form__meal-choices__title">{{ rsvpParty.mealsTitle }}</legend>
        {{ mealChoiceLoop(attendee, i) }}
      </fieldset>
    </div>
  </fieldset>
{%- endmacro %}

{% macro mealChoiceLoop(attendee, i) %}
  <ul class="rsvp-form__meal-choices__list">
    {% if attendee.kid %}
      {{ mealChoice(
        rsvpParty.kids, 
        rsvpParty.kidsMealLong, 
        checked = false, 
        parentIndex = i)
      }}
    {% endif %}
    {% for meal in rsvpParty.adult %}
      {% set thisIndex = loop.index %}
      {% if ((i == 0) and (thisIndex == 1)) %}
        {% set mealSelection = true %}
      {% else %}
        {% set mealSelection = false %}
      {% endif %}
      {% if i == 0 %}
        {% set label = meal.long %}
      {% else %}
        {% set label = meal.short %}
      {% endif %}
      {{ mealChoice(
        meal, 
        label, 
        checked = mealSelection, 
        parentIndex = i)
      }}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro mealChoice(
    meal, 
    label, 
    checked, 
    parentIndex) 
-%}
  {% set mealCode -%}{{ parentIndex }}--meal{%- endset %}
  <li class="rsvp-form__meal-choice">
    <label 
      class="rsvp-form-item--bool"
      for="{{ mealCode }}--{{ meal.short }}">
      <input 
        type="radio" 
        name="{{ mealCode }}"
        id="{{ mealCode }}--{{ meal.short }}"
        value="{{ meal.short }}"
        form="{{ meta.partyForm }}"
        {% if checked %}checked{% endif %}
        />
      {{ label }}
    </label>
  </li>
{%- endmacro %}