{% macro rsvpForm(loop, attendee) -%}
  {% if loop.index == 1 %}
    {% set title = rsvpSteps.yourFormTitle %}
    {% set namePlaceholder = rsvpSteps.yourNamePlaceholder %}
    {% set attendingBool = 'checked' %}
  {% else %}
    {% if loop.index == 2 %}
      {% set title = rsvpSteps.othersFormsTitle %}
    {% endif %}
    {% set namePlaceholder = rsvpSteps.guestPlaceholder %}
    {% set hidetitle = true %}
  {% endif %}
  {% if not hideTitle %}
  {% endif %}
  <fieldset class="">
    <legend class="">{{ title }}</legend>
    <div class="">
      <input 
        type="text" 
        placeholder="{{ namePlaceholder }}"
        {% if attendee.name %}value="{{ attendee.name }}"{% endif %}
        required/>
        {% set attendingBoolID %}attendee-{{ loop.index }}--attendingBool{% endset %}
        <input 
          id="{{ attendingBoolID }}"
          type="checkbox" 
          value="isAttending"
          {{ attendingBool }}
          required />
        <label for="{{ attendingBoolID }}" class="">
          <span class="">{{ rsvpSteps.attendingBool }}</span>
        </label>
      <fieldset class="meals">
        <legend class="">{{ rsvpSteps.mealsTitle }}</legend>
        {{ mealChoiceLoop(attendee, loop) }}
      </fieldset>
    </div>
  </fieldset>
{%- endmacro %}

{% macro mealChoiceLoop(attendee, parentLoop) %}
  <ul class="meal-choices">
    {% if attendee.kid %}
      {{ mealChoice(rsvpSteps.kids, rsvpSteps.kidsMealLong, checked = true)}}
    {% endif %}
    {% for meal in rsvpSteps.adult %}
      {% if ((not attendee.kid) and (loop.index == 1)) %}
        {% set mealSelection = true %}
      {% else %}
        {% set mealSelection = false %}
      {% endif %}
      {% if parentLoop.index == 1 %}
          {% set label = meal.long %}
      {% else %}
          {% set label = meal.short %}
      {% endif %}
      {{ mealChoice(meal, label, checked = mealSelection)}}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro mealChoice(meal, label, checked) -%}
  <li class="meal-choice">
    <label 
      class=""
      for="">
      <input 
        type="radio" 
        id="{{ meal.short }}" 
        value="{{ meal.short }}"
        {% if checked %}checked{% endif %}
        required />
      <span 
        class="" 
        for="{{ meal.short }}">
        {{ label }}
      </span>
    </label>
  </li>
{%- endmacro %}