---
layout: 'paginated.njk'
permalink: 'invitations/{{ invitations[pagination.pageNumber].code }}/rsvp-no/index.html'
isFormSubmissionPage: true
title: 'Declined'
---
{%- from 'navigation.njk' import navigation with context -%}

<div class="page page--program">
  {{ navigation() }}
  <main class="page-header">
    <div class="page-header__content">
      <h1 class="text--heading--1">{{ strings.noRSVPTitle }}</h1>
      <p class="text--subheadline text--tinted--secondary">{{ strings.noRSVPBody }}</p>
    </div>
  </main>
</div>
