---
layout: 'paginated.njk'
permalink: 'invitations/{{ invitations[pagination.pageNumber].code }}/rsvp-party/index.html'
isFormSubmissionPage: true
title: 'Your Party'
---
{%- from 'header.njk' import smallHeader with context -%}
{%- from 'navigation.njk' import submitRSVPParty with context -%}
{%- from 'rsvp-form.njk' import rsvpForm with context -%}

{# This is a lot of redundancy but I can't figure out how to cascade it :/  #}
  {% set invitation = invitations[pagination.pageNumber] %}
  {% set partySizeInt = invitation.party.length %}
  {% set partySizeWord = strings.numbers[partySizeInt - 1] %}
  {% set invitationData = {
    name: invitation.name,
    code: invitation.code
  } %}
  {% if partySizeInt > 1 %}{% set suffix = 's' %}{% endif %}
  {% set subtitle = rsvpParty.formSubtitle | replace('%num%', partySizeWord) | replace('%plu%', suffix) %}
{# end copypasta #}

<p>page number: {{ invitations[pagination.pageNumber] | dump }}</p>
<p>code: {{ invitations[pagination.pageNumber].code }}</p>
<p>{{ invitationData | dump }}</p>

<form class="page page--rsvp-party" id="{{ meta.partyForm }}" name="{{ meta.partyForm }}" action="../rsvp-details/" netlify>
  <input name="name" type="text" value="{{ invitationData.name }}" hidden />
  <input name="code" type="text" value="{{ invitationData.code }}" hidden />
  {{ submitRSVPParty(invitationData) }}
  <main class="rsvp-form-content">
    {{ smallHeader(rsvpParty.formTitle, subtitle)}}
    <div class="rsvp-form-items" data-party-size="{{ invitation.party.length }}">
    {% for i in range(0, 6) %}
      {{ rsvpForm(i, invitation.party) }}
    {% endfor %}
    </div>
  </main>
</form>
<script>
  function setDefaultMeal() {
    event.target.parentElement.nextElementSibling.getElementsByTagName('input')[0].checked = !event.target.parentElement.nextElementSibling.getElementsByTagName('input')[0].checked;
  }
</script>