---
layout: 'paginated.njk'
permalink: 'invitations/{{ invitations[pagination.pageNumber].code }}/rsvp-details/index.html'
isFormSubmissionPage: true
title: 'Details'
---
{%- from 'header.njk' import smallHeader with context -%}
{%- from 'navigation.njk' import submitRSVPDetails with context -%}
{%- from 'rsvp-form.njk' import rsvpForm with context -%}

{# This is a lot of redundancy but I can't figure out how to cascade it :/  #}
  {% set invitation = invitations[pagination.pageNumber] %}
  {% set isAttending = 'unknown' %}
  {% set partySizeInt = invitation.party.length %}
  {% set partySizeWord = strings.numbers[partySizeInt - 1] %}
  {% for notAttending in rsvpForms %}
    {% if notAttending.data.code == invitation.code %}
      {% set isAttending = 'no' %}
    {% endif %}
  {% endfor %}
  {% set invitationData = {
    name: invitation.name,
    code: invitation.code,
    attending: isAttending
  } %}
  {% if partySizeInt > 1 %}{% set suffix = 's' %}{% endif %}
  {% set subtitle = rsvpParty.formSubtitle | replace('%num%', partySizeWord) | replace('%plu%', suffix) %}
{# end copypasta #}

<form class="page page--rsvp-details" id="{{ meta.detailForm }}" name="{{ meta.detailForm }}" action="/invitations/{{ invitation.code }}" netlify>
  <input name="name" type="text" value="{{ invitationData.name }}" hidden />
  <input name="code" type="text" value="{{ invitationData.code }}" hidden />
  {{ submitRSVPDetails(invitationData) }}
  <main class="rsvp-details-content">
    {{ smallHeader(rsvpDetails.formTitle) }}
    <div class="rsvp-details">
      <label for="cocktails" class="rsvp-details-item__cocktails rsvp-form-item--bool">
        <input 
          name="cocktails"
          form="{{ meta.detailForm }}"
          id="cocktails"
          type="checkbox" 
          value="cocktails"
          class="ui-checkbox"
          checked
          />
        {{ rsvpDetails.cocktailBool }}
      </label>
      <div class="rsvp-details-item__contact rsvp-form-item--textarea">
        <label for="contact" class="rsvp-form-item__title">{{ rsvpDetails.contactInputTitle }}</label>
        <textarea 
          class="ui-textarea"
          name="contact"
          form="{{ meta.detailForm }}"
          id="contact"
          placeholder="{{ rsvpDetails.contactInputPlaceholder }}"
          rows="4"></textarea>
      </div>
      <div class="rsvp-details-item__other rsvp-form-item--textarea">
        <label for="other" class="rsvp-form-item__title">{{ rsvpDetails.otherInputTitle }}</label>
        <textarea 
          class="ui-textarea"
          name="other"
          form="{{ meta.detailForm }}"
          id="other"
          placeholder="{{ rsvpDetails.otherInputPlaceholder }}"
          rows="4"></textarea>
      </div>
    </div>
  </main>
</form>
<script>
const partyLocal = localStorage.getItem('party');
  window.addEventListener('DOMContentLoaded', function() {
    console.log(JSON.parse(partyLocal));
  });
</script>