---
layout: 'paginated.njk'
permalink: 'invitations/{{ invitations[pagination.pageNumber].code }}/rsvp-no/index.html'
isFormSubmissionPage: true
---
{%- from 'check-code.njk' import checkCode -%}
{%- from 'navigation.njk' import navigation with context -%}
{{ checkCode() }}

{# This is a lot of redundancy but I can't figure out how to cascade it :/  #}
  {% set invitation = invitations[pagination.pageNumber] %}
  {% set isAttending = 'unknown' %}
  
  {% for notAttending in rsvpForms %}
  {% if notAttending.data.code == invitation.code %}
    {% set isAttending = 'no' %}
  {% endif %}
  {% endfor %}
  
  {% set invitationData = {
    name: invitation.name,
    code: invitation.code,
    attending: isAttending
  } %}
{# end copypasta #}

<div class="page page--program">

  {{ navigation(invitationData) }}
  <main class="invitation-header">
    <div class="invitation-header__content">
      <h1 class="text--heading--1">{{ strings.noRSVPTitle }}</h1>
      <p class="text--subheadline text--tinted--secondary">{{ strings.noRSVPBody }}</p>
    </div>
  </main>
</div>
