<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
    <meta name="robots" content="noindex">
    <link rel="preconnect" href="https://p.typekit.net" crossorigin>
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
    <meta charset="UTF-8">
    <title>{{ meta.title }}{{ strings.pipe if page.title }}{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url | bust }}">
    <link rel="stylesheet" href="https://use.typekit.net/fba2hay.css">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
