---
layout: _root.njk
---
<div class="page page--gatekeeper">
  <div class="desktop-frame">
    <div class="form">
      <div class="logo-container">
        <div class="logo-mask">
          <img alt="a cute photo of your favs" src="https://cdn.wilnichols.com/wedding/7CJ03458.jpg?width=1200&format=webp" class="logo-masked-image"/>
        </div>
        <img class="background-image" alt="a cute photo of your favs" src="https://cdn.wilnichols.com/wedding/7CJ03458.jpg?width=1200&format=webp" />
      </div>    
      <div class="code-input-container">
        <input class="code-input" type="password" placeholder="Enter your code" />
        <button class="code-submit" onclick="signIn()">
          {% include "../static/img/arrow-right--16.svg" %}
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  if (localStorage.getItem('{{ meta.codeLocalKey }}')) {
    localStorage.setItem('{{ meta.codeLocalKey }}', localStorage.getItem('{{ meta.codeLocalKey }}').toLowerCase());
  }
  if (document.readyState === "loading") {
    const code = localStorage.getItem('{{ meta.codeLocalKey }}');
    if (code) {
      const codeLower = code.toLowerCase();
      console.log('code: ' + codeLower);
      window.location.replace('../invitations/' + codeLower + '/')
    }
  };
  
  {# addEventListener solution from https://stackoverflow.com/questions/5629805/disabling-enter-key-for-form #}
  window.addEventListener('keydown', function(e) {
    if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
      if (e.target.nodeName == 'INPUT' && e.target.type == 'password') {
      console.log('return');
        e.preventDefault();
        signIn();
      }
    }
  }, true);
  function signIn() {
    var field = document.getElementsByClassName('code-input')[0];
    localStorage.setItem('{{ meta.codeLocalKey }}', field.value.toLowerCase());
    if (field.value.length > 0) {
      location.href = '../invitations/' + field.value + '/';
    } else {
      document.getElementsByClassName('code-input-container')[0].classList.add('error--visible');
    }
  };
</script>

