---
layout: page.njk
---

<div class="page page--gatekeeper">
  <div class="desktop-frame">
    <div class="logo-container">
      <div class="logo-mask">
        <img alt="a cute photo of your favs" src="https://wnphoto-1e743.kxcdn.com/wedding/7CJ03458.jpg?width=1200&format=webp" class="logo-masked-image"/>
      </div>
      <img class="background-image" alt="a cute photo of your favs" src="https://wnphoto-1e743.kxcdn.com/wedding/7CJ03458.jpg?width=1200&format=webp" />
    </div>    
  </div>
</div>
