---
layout: _root.njk
eleventyExcludeFromCollections: true
pagination:
  data: invitations
  size: 1
---
{%- from 'check-code.njk' import checkCode with context -%}
{{ checkCode() }}

{{ content | safe }}
