---
layout: 'paginated.njk'
title: 'Registry'
---
{%- from 'header.njk' import smallHeader -%}
{%- from 'navigation.njk' import navigation with context -%}

{# this is unknown bc I need an 'unknown' that isn't falsy. 'no', 'unknown', and 'yes' to be self-documenting. #}
{# This is a lot of redundancy but I can't figure out how to cascade it :/  #}
{% set invitation = invitations[pagination.pageNumber] %}
{% set isAttending = 'unknown' %}

{% for notAttending in rsvpDeclineRemote %}
  {% if notAttending.data.code == invitation.code %}
    {% set isAttending = 'no' %}
  {% endif %}
{% endfor %}
 
{% set invitationData = {
  name: invitation.name,
  code: invitation.code,
  attending: isAttending
} %}
{# end copypasta #}

<div class="page page--registry">
  {{ navigation(invitationData) }}
  {{ smallHeader(strings.registryTitle | safe) }}
  <main class="registry-content">
    {{ content | markdownify | safe }}
  </main>
  <div class="bottom-buttons-container">
    <div class="bottom-buttons">
      <a class="button button--secondary" href="{{ meta.etsyRegistry }}"><span class="button--secondary__label">View household items</span></a>
      <a class="button button--secondary" href="{{ meta.joyRegistry }}"><span class="button--secondary__label">View other items & funds</span></a>
    </div>
  </div>
</div>
