$width: calc(30 * var(--type-0));
$breakpoint: 480px;
$note-title-gap: .25em; // the size of a monospaced space character in Neue Haas Grotesk
$categoryWidth: 480px;
$lineHeight: 2px;

:root {
  // Typography. This isn't _the_ solution — I haven't tried much with fluid scales yet, but it's _a_ solution for now. 
  /* @link https://utopia.fyi/type/calculator?c=320,17,1.30359,1200,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --type--2: clamp(0.6252rem, 0.5617rem + 0.3177vw, 0.8rem);
  --type--1: clamp(0.8151rem, 0.7478rem + 0.3363vw, 1rem);
  --type-0: clamp(1.0625rem, 0.9943rem + 0.3409vw, 1.25rem);
  --type-1: clamp(1.3851rem, 1.3205rem + 0.3226vw, 1.5625rem);
  --type-2: clamp(1.8056rem, 1.7519rem + 0.2683vw, 1.9531rem);
  --type-3: clamp(2.3537rem, 2.3218rem + 0.1595vw, 2.4414rem);
  --type-4: clamp(3.0518rem, 3.0743rem + -0.03vw, 3.0683rem);
  --type-5: clamp(3.8147rem, 4.0671rem + -0.3365vw, 3.9998rem);
  // layout
  --density: 1;
  --px: calc(1px / var(--density));
  @media (-webkit-min-device-pixel-ratio: 2) {
    --density: 2;
  }
  @media (-webkit-min-device-pixel-ratio: 3) {
    --density: 3;
  }
  --col: calc(100dvw/12);
}
