:root {
  --c0: #000000;
  --c100: #ffffff;
  --cK95: #F8F8F8;
  --cK90: #F4F4F4;
  --cK85: #EAEEF0;
  --cK80: #E2E7E9;
  --cK75: #D1D9DC;
  --cK70: #C2CACD;
  --cK65: #B1B9BC;
  --cK60: #9AA6AA;
  --cK55: #819196;
  --cK50: #69797E;
  --cK45: #546468;
  --cK40: #444F52;
  --cK35: #343F41;
  --cK30: #293031;
  --cK25: #1E2526;
  --cK20: #181C1C;
  --cK15: #111515;
  --cK10: #0D0D0D;
  --cK05: #090909;
  --cG95: #EFFDEC;
  --cG90: #E4FCE2;
  --cG85: #D6F7D4;
  --cG80: #C8ECC8;
  --cG75: #B7E1BB;
  --cG70: #A0CFA8;
  --cG65: #8ABE94;
  --cG60: #73AA7F;
  --cG55: #5B9468;
  --cG50: #3F7B4E;
  --cG45: #2B6538;
  --cG40: #1B5125;
  --cG35: #164419;
  --cG30: #0E370E;
  --cG25: #0A2C08;
  --cG20: #0A2306;
  --cG15: #071904;
  --cG10: #051103;
  --cG05: #040C02;
  --cR50: #f56360;
  --cR40: #ed4045;
}
