@use 'sass:list';
@use 'sass:math';
@use 'sass:string';
@use 'tokens';


@mixin controlStates($prop, $val) {
  $controlStates: '', 'Hover', 'Active';
  @for $i from 1 through 3 {
    @if $i == 1 {
      #{$prop}: var($val);
    } @else {
      $state: list.nth($controlStates, $i);
      &:#{string.to-lower-case($state)} {
        #{$prop}: var(#{$val + $state});
      }
    }
  }
}

// shared
$constType: 16px;
%inner-shadow {
  box-shadow: 
    inset 0px 2px 4px rgba(0, 0, 0, 0.05),
    inset 0px 0.6px 1.2px rgba(0, 0, 0, 0.03), 
    inset 0px 0.253333px 0.506667px rgba(0, 0, 0, 0.025), 
    inset 0px 0.0933333px 0.186667px rgba(0, 0, 0, 0.017),
    inset 0 0 0 var(--px) color(display-p3 0.463 0.624 0.561 / 0.3);
}

// text field

label {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.ui-textinput {
  @extend %inner-shadow;
  @extend %degular;
  border: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  min-height: var(--tap-height-sm);
  // uneven paddings to account for text alignment
  padding: 7px var(--radius-md) 6px var(--radius-md);
  --webkit-appearance: none;
  border-radius: var(--radius-sm);
  font-size: var(--type-0);
  color: var(--contentPrimaryColor);
  caret-color: var(--buttonPrimaryBackgroundColor);
  font-size: var(--type-0);
  &::placeholder {
    color: var(--contentSecondaryColor);
  }
  &:focus {
    outline: 2px solid var(--buttonPrimaryBackgroundColor);
    outline-offset: 2px;
  }
}

.ui-textarea {
  @extend .ui-textinput;
}

// buttons
%button {
  overflow: hidden;
  width: 100%;
  border-radius: var(--btnRad);
  text-decoration: none;
  display: flex;
  place-content: center;
  border: none;
  height: var(--btnHeight);
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: var(--type-0);
  box-shadow: 
    0px 6px 12px rgba(10, 44, 8, 0.05), 
    0px 1.8px 3.6px rgba(10, 44, 8, 0.03), 
    0px 0.76px 1.52px rgba(10, 44, 8, 0.025), 
    0px 0.28px 0.56px rgba(10, 44, 8, 0.017),
    0 0 0 var(--px) rgba(10, 44, 8, 0.1);
}

%button__label {
  height: var(--btnHeight);
  font-variation-settings: "wght" 500;
  -webkit-tap-highlight-color: transparent;
  line-height: $constType;
  font-size: $constType;
  place-content: center;
}


.button--primary {
  @extend %button;
  @include controlStates(background-color, --buttonPrimaryBackgroundColor); 
}

.button--primary__label {
  @extend %button__label;
  color: var(--rsvpSelectedColor);
}

.button--secondary {
  @extend %button;
  @include controlStates(background-color, --buttonSecondaryBackgroundColor); 
}

.button--secondary__label {
  @extend %button__label;
  color: var(--navLinkSelectedColor);
}

%bool {
  appearance: none;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  display: grid;
  place-content: center;
  pointer: cursor;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  cursor: pointer;
  &:checked {
    @include controlStates(background-color, --buttonPrimaryBackgroundColor); 
    --color: var(--rsvpSelectedColor);
  }
  &:not(:checked) {
    @extend %inner-shadow;
    @include controlStates(background-color, --buttonSecondaryBackgroundColor); 
    --color: transparent;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.ui-checkbox {
  @extend %bool;
  border-radius: var(--radius-sm);
  &:checked::after {
    background-image: url('../img/check--24.svg');
  }
}

.ui-radio {
  @extend %bool;
  border-radius: var(--radius-md);
  &::after {
    border-radius: 50%;
    background-color: var(--color);
    transform: scale(.5);
  }
}