@use 'sass:math';
@use 'tokens';
@use 'tokens/color/mixins' as *;
* {
  box-sizing: border-box;
}

:root {
  --gate-width--desktop: 480px;
  --gate-height--desktop: 720px;
  --gutter: 3rem;
  --radius-sm: 12px;
  --tap-height: 44px;
  --radius-md: 22px;
  --icon-md: 24px;
  --density: 1;
  --unit-sm: 4px;
  --px: calc(1px / var(--density));
  --btnHeight: 44px;
  @media (-webkit-min-device-pixel-ratio: 2) {
    --density: 2;
  }
  @media (-webkit-min-device-pixel-ratio: 3) {
    --density: 3;
  }
}

body {
  margin: 0;
  padding: 0;
  display: block;
  font-size: var(--type-0);
  background-color: canvas;
  font-family: "degular-variable", sans-serif;
  font-variation-settings: "wght" 400, "opsz" 6, "ital" 0;
}

.page {
  display: grid;
  place-items: center;
  width: 100dvw;
  min-height: 100dvh;
}

.page--gatekeeper {
}

.navigation {
  position: fixed;
  inset: auto 0 0 0;
  padding: 0 1rem 1rem 1rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  .navigation__items {
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    list-style: none;
    justify-content: space-between;
    grid-template-rows: 1fr;
    width: 100%;
    height: var(--btnHeight);
    $gap: 6px;
    padding: $gap;
    gap: $gap;
    border-radius: calc(var(--btnHeight)/2);
    max-width: var(--gate-width--desktop);
    overflow: hidden;
    &::before, &::after {
      content: '';
      position: absolute;
      inset: 0;
    }
    &::before  {
      z-index: 0;
      backdrop-filter: blur(20px) saturate(150%);
    }
    &::after {
      z-index: 0;
      background-color: var(--navigationColor);
      @include light-dark(--blendMode, multiply, screen);
      mix-blend-mode: var(--blendMode);
      
    }
    .navigation__item {
      position: relative;
      white-space: nowrap;
      width: 100%;
      display: grid;
      place-content: center;
      text-align: center;
      grid-row: 1 / 2;
      position: relative;
      padding: 0 .25em;
      z-index: 100;
      vertical-align: middle;
      will-change: scale;
    }
    .navigation__link {
      $constType: 16px;
      line-height: $constType;
      font-size: $constType;
      text-decoration: none;
      color: var(--contentTintedPrimaryColor);
      display: grid;
      place-items: center;
      span {
        display: block;
        // padding-top: 2px;
        font-variation-settings: "wght" 500;
      }
      &--current {
        background-color: var(--materialElevatedPrimaryColor);
        position: absolute;
        inset: 0;
        border-radius: 99px;
        box-shadow: 
          0px 6px 12px rgba(10, 44, 8, 0.05), 
          0px 1.8px 3.6px rgba(10, 44, 8, 0.03), 
          0px 0.76px 1.52px rgba(10, 44, 8, 0.025), 
          0px 0.28px 0.56px rgba(10, 44, 8, 0.017),
          0 0 0 var(--px) rgba(10, 44, 8, 0.1);
      }
    }
  }
}

.desktop-frame {
  position: relative;
  display: grid;
  place-items: center;
  height: var(--gate-height--desktop);
  width: var(--gate-width--desktop);
  overflow: hidden;
  // // necessary because Safari sets an implicit black bg
  // mix-blend-mode: screen;
  &::before {
    content: '';
    position: absolute;
    place-self: center;
    z-index: 10;
    inset: 0 0 0 0;
    background: radial-gradient(circle, transparent 0%, transparent 30%, canvas 55%);
    pointer-events: none;
  }
  @media (hover: none) and (width <= 440px) and (height <= 956px) { 
    all: none;
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    &::before {
      content: none;
    }
  }
}

.page--gatekeeper .logo-container {
  --logo-width: 240px;
  --logo-height: calc(var(--logo-width) / 1.875);
  --img-x-offset: 10%;
  --img-y-offset: 12%;
  --img-ratio: 260%;
  position: relative;
}

.page--gatekeeper .logo-container,
.page--gatekeeper .logo-mask { 
  width: var(--logo-width);
  height: var(--logo-height);
}

.page--gatekeeper .logo-mask {
  mask-image: url("/assets/img/logo--240.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  position: relative;
  z-index: 1;
}

.page--gatekeeper .logo-masked-image, 
.page--gatekeeper .background-image {
  position: absolute;
  width: var(--img-ratio);
  inset: calc(50% + var(--img-y-offset)) 0 0 calc(50% + var(--img-x-offset));
  translate: -50% -50%;
}

.page--gatekeeper .background-image {
  opacity: 0.25;
  z-index: 0;
}

.page--gatekeeper .form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--radius-sm) * 2);
  position: relative;
  width: var(--logo-width);
}

.page--gatekeeper .code-input-container {
  display: flex;
  z-index: 1;
  --height: var(--tap-height);
  border-radius: var(--radius-md);
  height: var(--tap-height);
  overflow: hidden;
  background-color: canvas;
  align-items: center;
  width: 100%;
  box-shadow: 
    0px 6px 12px rgba(0, 0, 0, 0.05), 
    0px 1.8px 3.6px rgba(0, 0, 0, 0.03), 
    0px 0.76px 1.52px rgba(0, 0, 0, 0.025), 
    0px 0.28px 0.56px rgba(0, 0, 0, 0.017),
    0 0 0 var(--px) rgba(0, 0, 0, 0.1);
}

.page--gatekeeper .code-input {
  appearance: none;
  -webkit-appearance: none;
  font-size: 1rem;
  padding: 0 0 0 1rem;
  border: none;
  height: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #69797E;
  }
}

.page--gatekeeper .code-submit {
  width: var(--icon-md);
  height: var(--icon-md);
  border-radius: var(--radius-sm);
  background-color: #419D7E;
  color: #fff;
  padding: var(--unit-sm);
  margin-left: -10px;
  border: 0;
}

.page--program {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: var(--col) 0;
}

%page--padded {
  width: 100%;
  max-width: var(--gate-width--desktop);
  padding: 0 var(--gutter);
}

.page--program .program-header {
  @extend %page--padded;
  display: flex;
  text-align: center;
  justify-content: center;
}

.page--program .program-content {
  @extend %page--padded;
}

.page--program .program-items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; 
  gap: 1em;
}

.page--program .program-items .program-item {
  position: relative;
  
  .program-item__time, 
  .program-item__extra,
  .program-item__map-links {
    font-size: var(--type--1);
    color: var(--contentTintedSecondaryColor);
    margin: 0;
    line-height: 1.2em;
  }
  
  .program-item__link {
    color: inherit;
    display: inline;
    margin: 0;
  }
  
  .program-item__map-links {
    list-style: none;
    display: inline;
    padding: 0;
  }
  
  .program-item__title {
    font-size: var(--type-0);
    margin: 0;
    font-variation-settings: "wght" 500;
  }


  &--event {
    padding: .25em .75em;
    display: flex;
    flex-direction: column;
    gap: .25em;
    &::before {
      content: '';
      position: absolute;
      inset: 0 auto 0 0;
      width: 2px;
      border-radius: 1px;
      background-color: var(--materialSecondaryColor);
    }
  }
  
  .program-item__title-block {
    display: flex;
    flex-direction: column;
  }
}

.page--program .program-item--date {
  font-size: var(--type--1);  
  margin: 1em 0 0 0;
}


.page--program .program-item--event + .program-item--date {
  margin: 2em 0 0 0;
}

// .page--program .program-item__details
// mobile portrait
@media (hover: none) and (width <= 440px) and (height <= 956px) { 
  
}

// mobile landscape
@media (hover: none) and (width <= 956px) and (height <= 440px) { 
}

