---
layout: 'program.njk'
eleventyExcludeFromCollections: true
permalink: 'invitations/{{ invitations[pagination.pageNumber].code }}/index.html'
pagination:
  data: invitations
  size: 1
---
<div class="page page--program">
  {%- from 'navigation.njk' import navigation with context -%}
  {{ navigation() }}
  <header class="program-header">
    <div class="program-header__content">
      <h1 class="text--heading--1"><date>{{ meta.ceremonyDate.html | safe }}</date></h1>
      <span class="text--subheadline text--tinted--secondary">{{ meta.receptionAddress}}</span>
    </div>
  </header>
  <main class="program-content">
    <ul class="program-items">
    {% if eventDate == date %}{% set date = "" %}{% endif %}
    {% for block in meta.program %}
      {% set eventDate = block.details[0].value %}
      {% if eventDate != date -%}
        <li class="program-item program-item--date">
          <span class="program-item__date text--tinted--secondary">{{ eventDate | safe }}</span>
        </li>
      {%- endif %}
      <li class="program-item program-item--event">
        {% for detail in block.details -%}
          {% if detail.title == 'Time' %}<span class="program-item__time">{{ detail.value }}</span>{% endif %}
        {%- endfor %}
        <h3 class="text--tinted--primary program-item__title">{{ block.title }}</h3>
        {% for detail in block.details -%}
          {% if (detail.title == 'Details') or (detail.title == 'Extra') %}
            <span class="text--tinted--primary program-item__{{ detail.title | lower }}">{{ detail.value | safe }}</span>
          {% endif %}
          {# {% if detail.title == 'Extra' %} #}
          
            {# {% for link in detail.links %}{{ meta.title.separator }} <a href="{{ link.src }}" target="blank">{{ link.label }}</a>{% endfor %}</span> #}
          {# {% endif %} #}
          {% set date = eventDate %}
        {%- endfor %}
      </li>
    {% endfor %}
    </ul>
  </main>
</div>